<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BombermanInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Indeed Studio" UpgradeCode="75cdaecd-94e8-42d3-a0c6-b5203967a816">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Icon Id="icon.ico" SourceFile="../asset/installer/bomberman-icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUILicenseRtf" Value="../asset/installer/license.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <Feature Id="ProductFeature" Title="BombermanInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Media" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="Bomberman"
              Description="Bomberman by Indeed Studio"
              Target="[INSTALLFOLDER]Bomberman.exe"
              Icon="icon.ico"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/Bomberman"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Indeed_Studio">
          <Directory Id="MEDIAFOLDER" Name="asset" />
        </Directory>
      </Directory>
    </Directory>

  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id='MainExecutable' Guid="*">
        <File Id='BombermanEXE' Name='Bomberman.exe' DiskId='1' Source='Bomberman.exe' KeyPath='yes' />
      </Component>

      <Component Id='AssimpLibrary' Guid="*">
        <File Id='AssimpDLL' Name='assimp-vc130-mtd.dll' DiskId='1' Source='../lib/assimp/lib/window/assimp-vc130-mtd.dll' KeyPath='yes' />
      </Component>

      <Component Id='IrrlichtLibrary' Guid="*">
        <File Id='IrrlichtDLL' Name='Irrlicht.dll' DiskId='1' Source='../lib/irrlicht/lib/window/Irrlicht.dll' KeyPath='yes' />
      </Component>

      <Component Id='LuaLibrary' Guid="*">
        <File Id='LuaDLL' Name='lua5.3.0.dll' DiskId='1' Source='../lib/lua/LuaInterpreter/lib/window/lua5.3.0.dll' KeyPath='yes' />
      </Component>

      <Component Id='SfmlAudioLibrary' Guid="*">
        <File Id='SfmlAudioDLL' Name='sfml-audio-2.dll' DiskId='1' Source='../lib/SFML/lib/window/sfml-audio-2.dll' KeyPath='yes' />
      </Component>

      <Component Id='SfmlSystemLibrary' Guid="*">
        <File Id='SfmlSystemDLL' Name='sfml-system-2.dll' DiskId='1' Source='../lib/SFML/lib/window/sfml-system-2.dll' KeyPath='yes' />
      </Component>

      <Component Id='libSndLibrary' Guid="*">
        <File Id='libSndDLL' Name='libsndfile-1.dll' DiskId='1' Source='../lib/SFML/lib/window/libsndfile-1.dll' KeyPath='yes' />
      </Component>

      <Component Id='openAlLibrary' Guid="*">
        <File Id='openAlDLL' Name='openal32.dll' DiskId='1' Source='../lib/SFML/lib/window/openal32.dll' KeyPath='yes' />
      </Component>
      
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="MEDIAFOLDER">
      <Component Id="cmp4C2928051A1B30A8FA6817EAF1B9703D" Guid="{08DE54F3-F2A9-4391-B1DB-3E4EF07187FA}">
        <File Id="filC2E07806F2CF728CD2097E02B5A9E800" KeyPath="yes" Source="$(env.mediaBomberman)\Cube1.fbx" />
      </Component>
      <Component Id="cmpFA74679AB2603BCB2B8520A84EFEA2CA" Guid="{A86E597C-09B7-48F9-BDE6-83B219E9D09C}">
        <File Id="filF31D0EFAE88D188FE09A700387851C1E" KeyPath="yes" Source="$(env.mediaBomberman)\Cube1.obj" />
      </Component>
      <Component Id="cmp24E46ACDD8BC4B45B991C28D285F6EA4" Guid="{89EF547E-EB4B-4EEE-AD35-0CB2740C781B}">
        <File Id="fil75DD65E4C2D57B1643B99E3201969141" KeyPath="yes" Source="$(env.mediaBomberman)\Ind_Cube.obj" />
      </Component>
      <Component Id="cmpCB193D8A0C2A3103E7F8954FD9563141" Guid="{3CEAC80B-76D3-4422-ABD0-C1611AF0503F}">
        <File Id="fil04CF6F11845EB80B42538C8F0924C321" KeyPath="yes" Source="$(env.mediaBomberman)\Mur.obj" />
      </Component>
      <Component Id="cmpF5750C776DC53DBBDC23E2153AFCFD24" Guid="{214B462D-4C55-4217-8175-BF8D879E998F}">
        <File Id="filA7A04DEE93F4A2E6DEB4B441E73E4692" KeyPath="yes" Source="$(env.mediaBomberman)\Mur1.fbx" />
      </Component>
      <Directory Id="dir28530E1CE52BFFD04ECC80EB6BF146B8" Name="installer">
        <Component Id="cmp83E670EFA5CD9464205E752B3F41B695" Guid="{C742F016-5B3D-417F-BA81-1EC3960E0986}">
          <File Id="fil170FA121E692993168C84B2BF6DA213A" KeyPath="yes" Source="$(env.mediaBomberman)\installer\bomberman-icon.ico" />
        </Component>
        <Component Id="cmpED12FCDAAE810F94F0F9F9AA911ADC58" Guid="{CD456173-EC8B-4A92-845A-A74603FC889B}">
          <File Id="filF0A121E6E82FE1CD6579D0D7BA1C4510" KeyPath="yes" Source="$(env.mediaBomberman)\installer\license.rtf" />
        </Component>
        <Component Id="cmpF3177B43866BFFEBABAEE68C76FD6076" Guid="{9A1D407C-6CAA-493F-81E3-E5197DEFEFBD}">
          <File Id="filF639BE728D5965193B1153F90A13EBB3" KeyPath="yes" Source="$(env.mediaBomberman)\installer\license.txt" />
        </Component>
        <Directory Id="dirFCE4DBC31B6B1D6FFD3C3696756397E5" Name="TMPwindowInstaller">
          <Component Id="cmp3A4CCDBC50C7BBF4A29A3739C07A49B7" Guid="{B16B6580-B965-4126-A6CA-6DBBB1405B2A}">
            <File Id="fil684E639B2DF83B314E833D69B6D047F0" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\assimp-vc130-mtd.dll" />
          </Component>
          <Component Id="cmpC9B0036BE77707E74C89C3A81D4BAD00" Guid="{1DA24939-7B5C-4839-8091-C9FA8A812368}">
            <File Id="filE7E86706327FAA25FBADBC10635DE44F" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\bomberman-icon.ico" />
          </Component>
          <Component Id="cmpE624B3ABC6497725BFAE69C07276E91A" Guid="{2393ADB0-3ACC-4221-8AA5-3D5C5389FFD0}">
            <File Id="fil37037A2AAA574B9CCFC68337EC46CB28" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\bomberman-tron.jpg" />
          </Component>
          <Component Id="cmpD4F97452115600E419C73CE601DA3A4E" Guid="{E45796E0-8513-4735-9BA8-27821D6307F2}">
            <File Id="filE8EC74FBA5396FFFBD1BDF1694871A5F" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\Bomberman.exe" />
          </Component>
          <Component Id="cmpA6A36D89A64CC22B6188C27B5979060A" Guid="{9CB7ED71-9D85-4CC9-AF69-9BF8C95E0B2B}">
            <File Id="fil91F28F823873ED1EC697138F5C743221" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\BombermanInstaller.wixproj" />
          </Component>
          <Component Id="cmpFB2FA15161792ED9C6EB8585A499B768" Guid="{BA965460-AF4D-4530-B4B3-F79E97F0FF5E}">
            <File Id="filE2233B37C259A5EED5A00C331CDC537A" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\Irrlicht.dll" />
          </Component>
          <Component Id="cmpF6CD618830BA1344C741E2BDE5996E48" Guid="{4E4C5576-453D-4593-B5AB-A063B19B6ECA}">
            <File Id="fil5762AB61E01A222379B44962AE5986CA" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\license.rtf" />
          </Component>
          <Component Id="cmpAB3481167F255371235C62512032EC19" Guid="{6CC81EEF-69EC-4845-B80D-11330DAF2657}">
            <File Id="fil61BC249CB27DF9C6DEE881B7E378BC82" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\Media.wxs" />
          </Component>
          <Component Id="cmpDA2BA7D1792D750A42F966889DC8E180" Guid="{34411B2B-B583-4AB8-AC5B-85FAD5E5E341}">
            <File Id="fil2A88929CAD98BB0AE35EF79FD22AFC86" KeyPath="yes" Source="$(env.mediaBomberman)\installer\TMPwindowInstaller\Product.wxs" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="dirE0F665C8EFA28F44CBD8EF92CBA16D6E" Name="media">
        <Component Id="cmp9E5A2EC2A4B73D6C0458DEFA402696A9" Guid="{52741C8D-E9D9-40B7-A562-CDE4B95EBDDB}">
          <File Id="filC4FA03DA866D7FD8B7DBDD38244B1291" KeyPath="yes" Source="$(env.mediaBomberman)\media\ninja animation ranges.txt" />
        </Component>
        <Component Id="cmp6C548210B60FF4BB0BE6B08FC3DFFB68" Guid="{A574BA20-CE09-449D-85C4-A8B743CE985B}">
          <File Id="fil9AD47C690A62A1503542AE5B265C087C" KeyPath="yes" Source="$(env.mediaBomberman)\media\ninja.b3d" />
        </Component>
        <Component Id="cmp4F5480913608768F40FC913DD1BCF754" Guid="{0E3E90DB-DC40-4DD2-B98D-6222549DD9E9}">
          <File Id="filAC20DAA29CFAA36A1F1DC82776C55A30" KeyPath="yes" Source="$(env.mediaBomberman)\media\nskinbl.jpg" />
        </Component>
        <Component Id="cmpF770FE1786B15B6C286F057E5CE75461" Guid="{324453E5-2A3D-479B-A6C3-C581F32B9A49}">
          <File Id="fil7A7862042DA14554DD154B0CCBA20B51" KeyPath="yes" Source="$(env.mediaBomberman)\media\nskinrd.jpg" />
        </Component>
        <Component Id="cmpAB0EDF767A9280A3AB9797016F1E3DCF" Guid="{8034F1D0-F6D8-4F23-A6AB-9924307BBA11}">
          <File Id="fil8942CA63D24015CCBEE191A2C59D95B5" KeyPath="yes" Source="$(env.mediaBomberman)\media\t351sml.jpg" />
        </Component>
        <Component Id="cmpDDA7498AE8E658CACC0E52B7DECAFF68" Guid="{B5AE8850-0C07-4FC9-9D7B-9195FBEF7C07}">
          <File Id="fil537A56F1A51FB03A07BA7BE2E2C0F0A5" KeyPath="yes" Source="$(env.mediaBomberman)\media\wall.jpg" />
        </Component>
        <Component Id="cmp363C170AF2BD8811E0275CF7A83C6412" Guid="{C72DC081-7F9F-4D8C-861F-9BD734E77755}">
          <File Id="fil1449755CC88A614A7BB47FF5792C992A" KeyPath="yes" Source="$(env.mediaBomberman)\media\water.jpg" />
        </Component>
      </Directory>
      <Directory Id="dir4533F63DE66FC013A9B980614A6C9E12" Name="sample">
        <Component Id="cmp524E554B157C2186AF21192675E84288" Guid="{FA37EE43-F5BA-41FD-A99D-EFDC06C7F4BA}">
          <File Id="fil7A65E5E11DACC67C02F427F9B4875BE4" KeyPath="yes" Source="$(env.mediaBomberman)\sample\beep17.mp3" />
        </Component>
        <Component Id="cmp8F859B626A3CA70B22CB3D65DD895B0D" Guid="{ACCDD678-4901-4F10-AB8B-FC5836816908}">
          <File Id="filAEA0E3786ED28E54FC565FF0B23827B2" KeyPath="yes" Source="$(env.mediaBomberman)\sample\button-27.wav" />
        </Component>
        <Component Id="cmp256FD31AEC83B201FF422E6F89AF7E39" Guid="{279F96B5-88DD-4B9F-AF2E-395F61C2D079}">
          <File Id="fil0999DC617668B494FD4957BFB06C3EFC" KeyPath="yes" Source="$(env.mediaBomberman)\sample\Derezzed.wav" />
        </Component>
        <Component Id="cmp358E8CD7BD5997684A344AC6AE429365" Guid="{574A68B5-EAA0-4349-B8A4-3DACA602EC93}">
          <File Id="fil72AD0482379DEF78914714DFCCB735B0" KeyPath="yes" Source="$(env.mediaBomberman)\sample\TronLegacy.wav" />
        </Component>
      </Directory>
      <Directory Id="dirA321A6AD065F4A3E2D6DBCDB4A31F577" Name="scriptAI">
        <Component Id="cmpD03D9438474BE6869F241780DB3CA6A9" Guid="{517366C9-C801-44F5-8F33-72BE4DAEBBA9}">
          <File Id="filBB7A4253E5FCB39C97EDFCAA684314F0" KeyPath="yes" Source="$(env.mediaBomberman)\scriptAI\script.lua" />
        </Component>
      </Directory>
      <Directory Id="dir2C2417CCC22F23D164EC32BCEC873976" Name="sound">
        <Component Id="cmp86C50495FA0861A65E3C6111215DC692" Guid="{244D9E0D-EADF-485C-B7E2-853094839038}">
          <File Id="filDC922120B8EF29BF9944492266BA0B8F" KeyPath="yes" Source="$(env.mediaBomberman)\sound\explosion.wav" />
        </Component>
      </Directory>
      <Directory Id="dir1E29C8BBA6C714705CFA6D7A4CED76B8" Name="Texture">
        <Component Id="cmp602FD49B0F881853A1516C0D6DB8D84A" Guid="{16D7135C-90DB-4B17-900B-ADC409426915}">
          <File Id="fil8B8ED6D49173F4BE075385BE22E78BC6" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Ind_Cube_Illum.png" />
        </Component>
        <Component Id="cmpD4D784E3606B30A2425D37D5730C849C" Guid="{8B4C9341-6DED-4DC6-BA34-15BA3F7CD770}">
          <File Id="filE62DB174781CAAD35E80B6DACDB5DBC4" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_cube1.png" />
        </Component>
        <Component Id="cmpC2B3B8AB7FA1BBBD125B4ECA2AE56D7D" Guid="{907871FE-B969-4395-8CA7-F367D4BA66FA}">
          <File Id="filE1BAB3DD94E2F59408683EC87EFBF45D" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_cube3.png" />
        </Component>
        <Component Id="cmpBABD76EB7C8E5FE8836133EDFFF0E872" Guid="{F6AFF952-B1D4-4B94-A0E8-0225634302CC}">
          <File Id="fil688E7CA31CBA75B1FB29339BEB6A05EB" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_cube_blue.png" />
        </Component>
        <Component Id="cmpCBBE771115AF25D1F9AC10CA00B1C187" Guid="{2F3436D8-CA42-4D0C-9844-75BB0C756360}">
          <File Id="fil358A1CF78502E6E4214527C6163B8A44" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_cube_orange.png" />
        </Component>
        <Component Id="cmp97AA4D3E80381E316DF8784EE1F8BAE5" Guid="{10BF156E-7229-4061-8F9F-05FE1C50A204}">
          <File Id="fil23CF4493F52CC54E1BAE522CCDC3C631" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_cube_purple.png" />
        </Component>
        <Component Id="cmp12C99149531D356976DA04E423BDF4B1" Guid="{7D540484-D45B-45CD-A2C9-607BFAF40808}">
          <File Id="filB99D6E6BEE0F2FE2DAF76E1A3332019E" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_Ind_Cube.png" />
        </Component>
        <Component Id="cmpF9C8D110BEB3A0A8040D716285FBDEDA" Guid="{8D21F836-330C-4042-B477-EBE9403C717E}">
          <File Id="fil074165C3630376E263A598926CB8F696" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_pillier_alpha.png" />
        </Component>
        <Component Id="cmp4341206D9ED06D1D33B92BD01FAB9DCE" Guid="{D98FEA68-632C-4F84-AC7D-670E12E82AB5}">
          <File Id="filC7321474B174BEA1402418E3AC3DD37C" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_pillier_Diffuse.png" />
        </Component>
        <Component Id="cmp0089D808E1B183E07DC6FCAB92431ACD" Guid="{89F4916C-5FEB-4B17-BB17-3219307BF6D9}">
          <File Id="fil65A4EFF5225283C6482CFF86B2E5077A" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_pillier_Self_illu.png" />
        </Component>
        <Component Id="cmp053812A54E6D319239D76C734AF29C3C" Guid="{5F523C39-09A0-4D80-A6B4-55CD78159D1F}">
          <File Id="filDC6ED1AF9F93AABC9BC5D6D0116DE5D9" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_wall.png" />
        </Component>
        <Component Id="cmpA7397BAB6DD8660B9A29A5FEE1B5111F" Guid="{E3EE00F2-6428-47AD-B567-8660A14131B2}">
          <File Id="fil8C07A29F8792BC177DFF4F5380219F4D" KeyPath="yes" Source="$(env.mediaBomberman)\Texture\Texture_wall_Alpha.png" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Media">
      <ComponentRef Id="cmp4C2928051A1B30A8FA6817EAF1B9703D" />
      <ComponentRef Id="cmpFA74679AB2603BCB2B8520A84EFEA2CA" />
      <ComponentRef Id="cmp24E46ACDD8BC4B45B991C28D285F6EA4" />
      <ComponentRef Id="cmpCB193D8A0C2A3103E7F8954FD9563141" />
      <ComponentRef Id="cmpF5750C776DC53DBBDC23E2153AFCFD24" />
      <ComponentRef Id="cmp83E670EFA5CD9464205E752B3F41B695" />
      <ComponentRef Id="cmpED12FCDAAE810F94F0F9F9AA911ADC58" />
      <ComponentRef Id="cmpF3177B43866BFFEBABAEE68C76FD6076" />
      <ComponentRef Id="cmp3A4CCDBC50C7BBF4A29A3739C07A49B7" />
      <ComponentRef Id="cmpC9B0036BE77707E74C89C3A81D4BAD00" />
      <ComponentRef Id="cmpE624B3ABC6497725BFAE69C07276E91A" />
      <ComponentRef Id="cmpD4F97452115600E419C73CE601DA3A4E" />
      <ComponentRef Id="cmpA6A36D89A64CC22B6188C27B5979060A" />
      <ComponentRef Id="cmpFB2FA15161792ED9C6EB8585A499B768" />
      <ComponentRef Id="cmpF6CD618830BA1344C741E2BDE5996E48" />
      <ComponentRef Id="cmpAB3481167F255371235C62512032EC19" />
      <ComponentRef Id="cmpDA2BA7D1792D750A42F966889DC8E180" />
      <ComponentRef Id="cmp9E5A2EC2A4B73D6C0458DEFA402696A9" />
      <ComponentRef Id="cmp6C548210B60FF4BB0BE6B08FC3DFFB68" />
      <ComponentRef Id="cmp4F5480913608768F40FC913DD1BCF754" />
      <ComponentRef Id="cmpF770FE1786B15B6C286F057E5CE75461" />
      <ComponentRef Id="cmpAB0EDF767A9280A3AB9797016F1E3DCF" />
      <ComponentRef Id="cmpDDA7498AE8E658CACC0E52B7DECAFF68" />
      <ComponentRef Id="cmp363C170AF2BD8811E0275CF7A83C6412" />
      <ComponentRef Id="cmp524E554B157C2186AF21192675E84288" />
      <ComponentRef Id="cmp8F859B626A3CA70B22CB3D65DD895B0D" />
      <ComponentRef Id="cmp256FD31AEC83B201FF422E6F89AF7E39" />
      <ComponentRef Id="cmp358E8CD7BD5997684A344AC6AE429365" />
      <ComponentRef Id="cmpD03D9438474BE6869F241780DB3CA6A9" />
      <ComponentRef Id="cmp86C50495FA0861A65E3C6111215DC692" />
      <ComponentRef Id="cmp602FD49B0F881853A1516C0D6DB8D84A" />
      <ComponentRef Id="cmpD4D784E3606B30A2425D37D5730C849C" />
      <ComponentRef Id="cmpC2B3B8AB7FA1BBBD125B4ECA2AE56D7D" />
      <ComponentRef Id="cmpBABD76EB7C8E5FE8836133EDFFF0E872" />
      <ComponentRef Id="cmpCBBE771115AF25D1F9AC10CA00B1C187" />
      <ComponentRef Id="cmp97AA4D3E80381E316DF8784EE1F8BAE5" />
      <ComponentRef Id="cmp12C99149531D356976DA04E423BDF4B1" />
      <ComponentRef Id="cmpF9C8D110BEB3A0A8040D716285FBDEDA" />
      <ComponentRef Id="cmp4341206D9ED06D1D33B92BD01FAB9DCE" />
      <ComponentRef Id="cmp0089D808E1B183E07DC6FCAB92431ACD" />
      <ComponentRef Id="cmp053812A54E6D319239D76C734AF29C3C" />
      <ComponentRef Id="cmpA7397BAB6DD8660B9A29A5FEE1B5111F" />
    </ComponentGroup>
  </Fragment>
</Wix>